#navigationBar {
    background-color: #009879;
}

a {
    font-weight: bold;
    color: white;
}

.black-font {
    color: black !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-toggle {
    background-color: transparent;
}
