button {
    float: none !important;
    display: inline;
}

th, td, thead, tbody {
    text-align: center;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

body {
    background-color: #ffffff;
  	margin: 0;
  	padding: 0;
  	font-family: 'Roboto', sans-serif;

}

.table tr {
    /* background-color: #f7fffd; */
}

.table tbody tr:nth-of-type(even) {
    background-color: #e0e0e0;
}

.table th {
    color: white;
    background-color: #009879;
}

.btn {
    background-color: #e0e0e0;
}

.delete-button {
    background-color: #aeb7d4;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    filter: brightness(110%);
}

/* the first 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;
}
/* the last 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
}