button {
    float: none !important;
    display: inline;
}

th, td, thead, tbody {
    text-align: center;
    border: 1px solid black;
}

body {
    background-color: #6d7991;
  	margin: 0;
  	padding: 0;
  	font-family: 'Roboto', sans-serif;

}

table {
    background-color: #c7c3c3;
}

.btn {
    background-color: #c7c3c3;
}

.delete-button {
    background-color: #aeb7d4;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}