{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chart.css')}}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="static/charts.js"></script>
{% endblock %}

{% block title %}Charts{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <div id="piechart" width="600" height="400"></div>
        <script type="text/javascript">
            draw('{{pie_count | tojson}}');
        </script>
    </div>
{% endblock %}