{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
{% endblock %}

{% block title %}Test{% endblock %}
{% block content %}
<div class="right content-page mainpage">
  <div class="body content rows scroll-y">
    <div class="box-info full">
      <h2 class="mt-4">{{greeting}}</h2>
      <h2>Charges</h2>
      <br>
      <div class="panel-body pt-0">
<!--        <div class="row mb-4">-->
<!--          <div class="col-sm-12">-->
<!--            <a href="add_charge"><button type="button" class="btn">Add new charge</button></a>-->
<!--            <a href="login"><button type="button" class="btn">Login</button></a>-->
<!--            <a href="logout"><button type="button" class="btn">Logout</button></a>-->
<!--          </div>-->
<!--        </div>-->
        <table class="table table-bordered myTable" id="chargeTable">
          <thead>
            <th><input type="checkbox" id="check_all" onclick="toggle(this)"></th>
            <th onclick="sortTable(0)">Category   <i id="0" class="arrow up" style="display: none"></i></th>
            <th onclick="sortTable(1)">Vendor   <i id="1" class="arrow up" style="display: none"></i></th>
            <th onclick="sortTable(2)">Charge   <i id="2" class="arrow up" style="display: none"></i></th>
            <th onclick="sortTable(3)">Card   <i id="3" class="arrow up" style="display: none"></i></th>
            <th onclick="sortTable(4)">Date   <i id="4" class="arrow up"></i></th>
<!--            <th>Action</th>-->
          </thead>
          <tbody>
            <form id="deleteForm" action="{{url_for('delete_charges')}}" method="post">
                {% for x in range(0, spending|length) %}
                    <tr class="">
                      <td><input id="row{{x}}" onclick="checklist({{x}})" type="checkbox" name="row_check" value="{{spending[x]['Charge ID']}}"></td>
                      <td align="center">{{spending[x]['Category']}}</td>
                      <td align="center">{{spending[x]['Vendor']}}</td>
                      <td align="center">${{spending[x]['Charge']}}</td>
                      <td align="center">{{spending[x]['Card']}}</td>
                      <td align="center">{{spending[x]['Date']}}</td>
                    </tr>
                {% endfor %}
            </form>
          </tbody>
        </table>
        <button type="button" class="btn" data-toggle="modal" data-target="#filterModal">Filter</button>
        <button id="deleteButton" data-toggle="modal" data-target="#deleteModal" class="btn" style="display: none">Delete</button>
          <!-- Modal -->
          <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Filter</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{{ url_for('home')}}">
                      <label for="category_filter">Category</label><br>
                      <input type="text" id="category_filter" name="category_filter" value=""><br>
                      <label for="vendor_filter">Vendor</label><br>
                      <input type="text" id="vendor_filter" name="vendor_filter" value=""><br>
<!--                      <label for="charge">Charge</label><br>-->
<!--                      <input type="text" id="charge" name="charge" value=""><br>-->
                      <label for="card_filter">Card</label><br>
                      <input type="text" id="card_filter" name="card_filter" value=""><br>
                      <label for="dateSelect">Date</label><br>
                      <select name="dateSelect" id="dateSelect">
                          <option value=""></option>
                          <option value="1 DAY">Day</option>
                          <option value="7 DAY">7 Days</option>
                          <option value="30 DAY">30 Days</option>
                          <option value="365 DAY">1 Year</option>
                      </select>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle2">Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{{ url_for('delete_charges')}}">
                    <h3>Delete selected charges?</h3>  
                    <div class="modal-footer">
                      <button type="button" class="btn" onclick="deleteFormSubmit()">Delete</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
